body {
	
}

.logo {
	background-image: url("~/images/facebook_logo.png");
}

.navbar {
	margin: 0;
}

.navbar-default {
	background-color: #3b5999;
	border: medium none;
	border-radius: 0;
}

.navbar .btn {
	margin-top: 28px;
}

.btn-site-blue {
	background-color: #6078a8;
	border-radius: 0;
	color: #fff;
	font-weight: bold;
	border: 1px solid #000;
}

.navbar input.form-control {
	border-radius: 0;
	margin-right: 57px;
	width: 208px;
}

.navbar label {
	color: #fff;
	font-weight: normal;
	padding: 3px;
}

.navbar a,.navbar span {
	color: #899cbc;
}

.body {
	background-color: #F2EFFB;
}

.map>h3 {
	color: #8b9dc3;
	font-size: 27px;
}

.navbar input.form-control {
	border-radius: 0;
	margin-right: 57px;
	width: 208px;
}

.navbar label {
	color: #fff;
	font-weight: normal;
	padding: 3px;
}

.navbar a,.navbar span {
	color: #899cbc;
}

.body {
	background-color: #F2EFFB;
}

.map>h3 {
	color: #8b9dc3;
	font-size: 27px;
}

.menu-bar .input-group input {
	margin-left: 149px;
	width: 71%;
}

.menu-bar {
	margin: 20px 0;
}

.profile ul li {
	list-style: outside none none;
	margin: 20px 0;
}

.profile {
	margin: 10px 0;
}

.user-body {
	background-color: #dfe3ee;
}

.panel-heading li {
	display: inline-block;
	margin-right: 55px;
}

.panel {
	height: 150px;
	margin: 10px 0;
}

.display-error .panel-heading {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
}
/* errorpage*/
.error {
	height: 100px;
}

.navbar a {
	border-radius: 0;
	color: white;
	font-weight: bold;
}

.display-error {
	padding: 147px 255px;
}

.display-error .panel {
	height: auto;
}

.login-error {
	background-color: #fff;
	border: 1px solid red;
	height: 16%;
	position: absolute;
	right: -229px;
	top: 81px;
	width: 52%;
}

.login-error>label {
	color: red;
	font-weight: normal;
}

.details {
	margin-left: 440px;
	text-align: justify;
	width: 36%;
}

.details ul {
	list-style: outside none none;
}

.details ul li {
	display: inline-block;
	margin-right: 30px;
}

.details input {
	margin-bottom: 40px;
	margin-left: 140px;
}